* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}
.row {
  width:100%;
  margin: 0;
}
body {
	height:auto;
  background-color:#ECF0F1;
  position:relative;
  font-size: 40px;
}
#main-content{
  width: 100%;
  font-size: 1.2em;
  margin:10px auto;
  padding:10px auto;
  position: relative;
}

h1 {
	margin-top:0;
	margin-bottom:0;
	font-family:'Lobster', cursive;
  color: #0286FF;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #0286FF;
}
h3 {
  font-family:'Lobster', cursive;
  color:#000000;
  text-align:center;
  text-transform:Uppercase;
  overflow:hidden;
  font-size: 1.5em;
}
p {
  margin: 10px 5px 10px 5px;
  padding: 10px 5px 10px 5px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}
/**My navgation bar start**/
.navbar{
	min-height: 60px;
	margin-top:0;
	margin-bottom: 5px;

}
.navbar-default{
	background-color:#34495E;
  font-size: .5em;
}
#nav-list{
	margin: 10px auto;
	text-align: center;
  background-color:#CCD1D1;
  font-family:'Lobster', cursive;
}
#nav-list > li > a:hover {
  color: #0286FF;
  text-align: center;
  text-decoration: underline;
} 

/**My navgation bar ends**/

.html {
  float: right;
  background-color:red;
  border:1px solid black;
  width: 25%;
  position: relative;
}
.CSS {
  float: right;
  background-color:blue;
  border:1px solid black;
  width: 25%;
  position: relative; ;
}
.JavaScript {
  float: right;
  background-color:yellow;
  border:1px solid black;
  width: 25%;
  position: relative;
}
.section{
  background-color:#5F6A6A;
  border: 1px solid black;
  margin: 10px 5px 10px 5px;
  padding: 0px 0px 10px 5px;
  position:relative;
}
/** Footer Starts **/
.panel-footer {
  background-color:#34495E;
  border-top: 0;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
  color:white;
}
@media (min-width: 992px) {
    	.section{
    		float: left;
            border:1px solid black;
    	}
      h1 {
  font-size: .50em;
 }
 h3 {
  font-size: 0.50em;
 }
 p {
  font-size: 0.40em;
 }
 #nav-list{
  font-size: 1.5;
 }
 .navbar-brand{
  font-size: 2.5em;
 }
}
@media (min-width: 768px) and (max-width: 991px) {
    .section{
    		float: left;
            border:1px solid black;
    	}
      h1 {
  font-size: .70em;
 }
 h3 {
  font-size: 0.55em;
 }
 p {
  font-size: 0.45em;
 }
 #nav-list{
  font-size: 1.5;
 }
}
@media (max-width: 767px) {
	.section{
    		float: left;
            border:1px solid black;
            font-size: 1.0em;
    	}

 h1 {
 	font-size: .50em;
 }
 h3 {
 	font-size: 0.50em;
 }
 p {
 	font-size: 0.40em;
 }
 #nav-list{
  font-size: 1.5;
 }
} 